body {
  background: linear-gradient(135deg, #007bff, #00c6ff);
  margin: 0;
  padding: 0;
  font-family: 'Vazirmatn', sans-serif;
  color: #ffffff;
}



.fullscreen-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
  padding: 0 10px;
}

.snowfall-fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}


.glass-card {
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10;
}

@media (max-width: 600px) {
  .glass-card {
    padding: 2rem;
  }
}


.white-textfield .MuiOutlinedInput-root {
  background-color: white;
  border-radius: 8px;
}


.rounded-button {
  width: 100%;
  border-radius: 8px;
}


.forgot-remember {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.forgot-link {
  text-align: left;
  width: auto;
  font-size: 14px;
  background: none;
  padding: 0;
}


.about-container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.about-content {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 600px;
  width: 90%;
  z-index: 1;
  color: #000000;
}

.about-content p {
  margin-bottom: 20px;
}

.contact-button {
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: bold;
}
